body{
      margin: 0;
      padding: 0;
      background: url("david-billings-KceWAWQYois-unsplash(1).png");
      background-size: cover;
      font-family: sans-serif;
      
}

.box{
    width: 330px;
    height: 460px;
    top: 20%;
    left: 60%;
    position: fixed;
    border-width: 5px;
    border-color: gray;
    border-style: solid;
    padding: 50px 20px;
    border-radius: 10px;
    background-blend-mode: darken;
}

h1{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    color: white;
    font-size: 45px;
}

.box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: aliceblue;
}

.box input{
    width: 100%;
    margin-bottom: 10px;
    
}

.box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    height: 40px;
    color: lightgray;
    font-size: 18px;
    
    
}

.box input[type="submit"]
{
    
   
    height: 45px;
    background: #03a9f4;
    color: aliceblue;
    font-size: 20px;
    border-radius: 20px;
    
    
}
.box input[type="image"]
{
    
   
    height: 45px;
    width: 90px;
    border-radius: 5px;
    
    
}
.Quote{
    
    top: 40%;
    left: 15%;
    position: fixed;

    
}
h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: left;
    color: whitesmoke;
    font-size: 50px;
}
h4{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}


